@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(fonts.scss);


@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/inter/Inter_18pt-Regular.ttf) format('woff2');
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



h1 {
  font-size: 34px;
  font-weight: 600;
}

h2 {
  font-size: 15px;
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 400;
}

.mainSwiper2 {
  .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 0;
    opacity: 1;
    background-color: white;
  }
  .swiper-pagination-bullet-active {
    background-color: #007aff;
  }
}

.mainSwiper {
  .swiper-pagination-bullet {
    width: 60px;
    height: 3px;
    border-radius: 0;
    opacity: 1;
    background-color: white;
  }
  .swiper-pagination-bullet-active {
    background-color: #007aff;
  }
}